{{ `<!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <script src="//vjs.zencdn.net/ie8/ie8-version/videojs-ie8.min.js"></script>
  <![endif]-->` | safeHTML }}

{{ `<!--[if lte IE 11]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/classlist/1.2.201711092/classList.min.js"></script>
  <![endif]-->` | safeHTML }}

<!-- IEdge 9-14, Android < 5, Safari < 10 -->
<script src="//cdnjs.cloudflare.com/ajax/libs/object-fit-images/3.2.4/ofi.min.js"></script>

<!-- Smooth Scroll with closest & requestAnimationFrame Polyfills -->
<script src="//cdnjs.cloudflare.com/ajax/libs/smooth-scroll/15.2.1/smooth-scroll.polyfills.min.js"></script>
