# ------------------------------
# Common Settings
# ------------------------------
(common) {
  encode gzip
  tls graham@grahamweldon.com

  header {
    Strict-Transport-Security max-age=15768000
    X-XSS-Protection 1; mode=block
    X-Content-Type-Options nosniff
    X-Frame-Options DENY
  }
}

# ------------------------------
grahamweldon.com, rocketshaped.com {
  import common
  reverse_proxy {{#eachAlive bind.grahamweldon.members as |member| ~}}{{member.sys.ip}}:{{member.cfg.http-port}} {{/eachAlive ~}}{
    lb_policy round_robin
  }
}
www.grahamweldon.com {
  redir https://grahamweldon.com{uri} permanent
}

# ------------------------------
dreamlo-proxy.grahamweldon.com {
  import common
  reverse_proxy http://dreamlo.com {
    header_down Access-Control-Allow-Origin *
    header_down Access-Control-Allow-Methods "GET"
  }
}

# ------------------------------
rustymothertruckers.com {
  import common
  reverse_proxy {{#eachAlive bind.rustymothertruckers.members as |member| ~}}{{member.sys.ip}}:{{member.cfg.http-port}} {{/eachAlive ~}}{
    lb_policy round_robin
  }
}
www.rustymothertruckers.com {
  redir https://rustymothertruckers.com{uri} permanent
}

# ------------------------------
# nekodiabetes.com {
#   import common
#   reverse_proxy {{#eachAlive bind.nekodiabetes.members as |member| ~}}{{member.sys.ip}}:{{member.cfg.http-port}} {{/eachAlive ~}}{
#     lb_policy round_robin
#   }
# }
# 
# www.nekodiabetes.com {
#   redir https://nekodiabetes.com{uri} permanent
# }
